include LICENSE
include README.md

recursive-include wradlib_data *.py
recursive-include wradlib_data *.txt
recursive-exclude * __pycache__
recursive-exclude * data
recursive-exclude * *.py[co]

include *.md
include *.toml
include *.txt
prune tests*
prune ci*
prune data*
